@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-black: #000;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  align-items: center;
  height: 5.5rem;
  background: var(--color-white);
}

header .logo {
  display: flex;
  color: var(--color-black);
  align-items: center;
}

header .logo img {
  height: 65px;
}

header .logo h1 {
  margin-left: 1rem;
  font-size: 2rem;
}

header .navbar ul {
  display: flex;
  list-style: none;
}

header .navbar a {
  padding: 1rem;
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 500;
}

.home {
  min-height: 100vh;
  background: var(--color-background);
}

.aboutme {
  min-height: 100vh;
  background: var(--color-background);
}

.projects {
  min-height: 100vh;
  background: var(--color-background);
}

.contact {
  min-height: 100vh;
  background: var(--color-background);
}